#intro {
  width: 100%;
  height: 650px;
  background-color: rgba(0, 0, 0, 0.2 );
  padding: 0px;
  white-space: nowrap;
  >div {
    width: 100%;
    height: 100%;
    display: table;
    >span {
      display: table-cell;
      vertical-align: middle;
      margin: 0 auto;
      width: 100%;
      color: ghostwhite;
      font-size: 65px;
      opacity: 1;
    }
  }
}
.contact-link-div.transitioning{
  transition: transform .5s ease-out;
  -moz-transition: transform .5s ease-out;
  -webkit-transition: transform .5s ease-out;
}
.contact-link-div{
  display: inline-block;
  .contact-link{
    font-size: 2rem;
    padding: 2rem;
    border: 5px solid white;
    border-radius: 50%;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    img{
      width: 40px;
      filter: invert(100%);
      -webkit-filter: invert(100%);
      -moz-filter: invert(100%);
      transition: filter .5s ease-out;
      -moz-transition: filter .5s ease-out;
      -webkit-transition: filter .5s ease-out;
    }
  }
  .contact-link:hover{
    background-color: white;
    border-color: black;
  }
  .contact-link:hover img {
    filter: invert(0);
    -webkit-filter: invert(0%);
  }
}

#rotation-row {
  font-size: 3.4rem;
  overflow: hidden;
}

.rotation-slide {
  -webkit-transition: all .2s cubic-bezier(.54, 1.07, .46, 1.19);
  transition: all .2s cubic-bezier(.54, 1.07, .46, 1.19);
  -webkit-transition-timing-function: cubic-bezier(.54, 1.07, .46, 1.19);
  transition-timing-function: cubic-bezier(.54, 1.07, .46, 1.19)
}

#name {
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
}

// @-webkit-keyframes zoomIn {
//   from {
//     opacity: 0;
//     -webkit-transform: scale3d(.3, .3, .3);
//     transform: scale3d(.3, .3, .3);
//   }
//   50% {
//     opacity: 1;
//   }
// }
// @keyframes zoomIn {
//   from {
//     opacity: 0;
//     -webkit-transform: scale3d(.3, .3, .3);
//     transform: scale3d(.3, .3, .3);
//   }
//   50% {
//     opacity: 1;
//   }
// }
// .zoomIn {
//   -webkit-animation-name: zoomIn;
//   animation-name: zoomIn;
// }

// #name{
//   transition: opacity .1s ease;
//   -webkit-transition: opacity .1s ease;
//   -moz-transition: opacity .1s ease;
// }
