#intro {
  width: 100%;
  min-height: 650px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2 );
  padding: 0;
  white-space: nowrap;
  >div {
    width: 100%;
    height: 100%;
    display: table;
    >span {
      display: table-cell;
      vertical-align: middle;
      margin: 0 auto;
      width: 100%;
      color: ghostwhite;
      font-size: 65px;
      opacity: 1;
    }
  }
}
.contact-link-div.transitioning {
  transition: transform 0.2s ease-out;
}
.contact-link-div {
  z-index: 5;
  display: inline-block;
  .contact-link {
    font-size: 2rem;
    padding: 2.8rem 2rem;
    border: 5px solid white;
    border-radius: 50%;
    transition: all 0.5s ease-out;
    box-shadow: 0 3px 15px lighten(black, 10);
    img {
      width: 40px;
      filter:invert(100%);
      transition: filter 0.5s ease-out;
    }
  }
  .contact-link:hover {
    background-color: white !important;
    border-color: black;
  }
  .contact-link:hover img {
    filter:invert(0);
  }
}
.transparent {
  color: rgba(0,0,0,0);
}
#rotation-row {
  font-size: 3.4rem;
  height: 5.2rem;
}
.rotation-terms {
  transition: transform 0.2s cubic-bezier(.5, 1, .5, 1);
  transition-timing-function: cubic-bezier(.5, 1, .5, 1);
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-100%);
}
#rotator {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  height: 4.2rem;
}
#semicolon {
  transition: all 1s ease-out;
}
