.card-image {
  margin: 0 auto;
}

#portfolio {
  background-color:  rgb(50, 50, 50);
  text-align: center;
  margin: 0 auto;
  .title {
    color: ghostwhite;
  }
  .row {
    margin: 0 auto;
  }

  .hover {
    background: rgba(0,0,0,0.8);
    color: white;
    position: absolute;
    margin-left: 15px;
    left: -15px;
    height: 100%;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
    .vertical-align{
      display: table;
      height: 100%;
      span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        a {
          color: rgb(69, 165, 185);
        }
        a:hover {
          color: rgb(59, 105, 125);
        }
      }
    }
  }
  .hover:hover {
    opacity: 1;
  }
}
