body {
  font-family: "Lucida Console", Lucida, monospace;
  min-width: 261px;
  margin-top: 64px;
}

.title {
  font-size: 4em;
}


@import "./materializeCard",
"./intro",
"./nav",
"./technologies",
"./aboutMe";


#portfolio {
  background-color:  rgb(51, 51, 50);
  text-align: center;
  margin: 0 auto;
}

// .navbar-image {
//   filter: invert(100%);
//   -webkit-filter: invert(100%);
// }



section{
  padding-bottom: 7%;
  padding-top: 7%;
}
.form-group {
  text-align: center;
  margin: 0 auto;
}

#get-in-touch {
  align-content: center;
  input, textarea {
    text-align: center;
  }
}

label {
  font-size: 28px;
}

// div.container-fluid {
//   height: 100%;
// }

.card-image {
  margin: 0 auto;
}
