$blue: rgb(31, 74, 110);
html, body {
  min-width: 300px;
}

a:active, a:focus{
  outline: 0;
}

section#modals {
  padding: 0;
}


body{
  font-family: "Lucida Console", Lucida, monospace;
  min-width: 300px;
  margin-top: 54px;
  background: url('backgroundTest3.jpg') no-repeat center center fixed;
  background-image: url("../images/backgroundTest3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.title {
  font-size: 4em;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

section{
  text-align: center;
  padding-bottom: 7%;
  padding-top: 7%;
  padding-left: 10%;
  padding-right: 10%;
}

.horizontal-line {
  width: 100%;
  margin-top: .6em;
  margin-bottom: .6em;
}


@import "./_materializeCard",
"./_intro",
"./_nav",
"./_technologies",
"./_aboutMe",
"./_portfolio";

@media (max-width: 680px) {
  #intro>div>span {
    font-size: 4.7rem;
  }
  #rotation-row {
    font-size: 2.3rem;
  }
  .contact-link-div>.contact-link img{
    width: 30px;
  }
  .contact-link-div>.contact-link{
    padding: 1.2rem;
  }
}

@media (max-width: 510px) {
  .contact-link-div>.contact-link img{
    width: 20px;
  }
  .contact-link-div>.contact-link{
    padding: .5rem;
  }
  .title {
    font-size: 3rem;
  }
  #intro>div>span {
    font-size: 3rem;
  }
  #intro>div>span #rotation-row {
    font-size: 2.3rem;
  }
}



#resumeModal .modal-body{
  height: 85vh;
}

.modal-content{
  background-color: darken(grey, 15);
  text-align: center;
  color: white;
  box-shadow: 8px 8px 16px black;
  button:focus, button:active{
    outline-color: white;
  }

  .btn {
    color: black;
    background-color: lighten(beige, 1);
    border: 2px solid rgba(0,0,0,0);
    border-bottom: 2px solid black;
    border-right: 2px solid black;
  }
  .btn:hover {
    border: 2px solid rgba(0,0,0,0);
    border-left: 2px solid black;
    border-top: 2px solid black;
  }
}
#emailModal {
  label {
    font-size: 28px;
  }
  input, textarea {
    text-align: justify;
    color: black;
    border: 4px solid rgba(0,0,0,0);
    border-left: 4px solid black;
    border-top: 4px solid black;
  }
  input:focus, textarea:focus, textarea:active, input:focus{
    outline-color: white;
  }

  label, .modal-title {
    text-shadow: 4px 4px 2px black;
    outline-color: white;
  }
}


::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

::-moz-placeholder {
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}



.circle-link-div{
  position: fixed;
  opacity: 0;
  bottom: 10vh;
  right: 0;
  .circle-link{
    font-size: 2rem;
    padding: 2rem;
    border: 5px solid black;
    border-radius: 50%;
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
  }
  img {
    width: 40px;
  }
  .circle-link:hover{
    background-color: black;
    border-color: white;
  }
  .circle-link:hover img {
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    filter: invert(100%);
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideIn {
  from {
    transform: translate(100%, 0, 0);
    -webkit-transform: translate(100%, 0, 0);
    -moz-transform: translate(100%, 0, 0);
  }
  to {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    visibility: visible !important;
    opacity: 1 !important;
  }
}

@-webkit-keyframes slideOut {
  from {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
  }
  to {
    transform: translate(100%, 0, 0);
    -webkit-transform: translate(100%, 0, 0);
    -moz-transform: translate(100%, 0, 0);
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
