#intro {
  width: 100%;
  height: 85%;
  min-height: 500px;
  max-height: 900px;
  // background-image: url("../images/backgroundTest3.jpg");
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  background-color: rgba(0,0,0,0);
  display: table;
  padding: 0px;
  div {
    background-color: rgba(0, 0, 0, 0.2 );
    width: 100%;
    height: 100%;
    align-content: center;
    display: table;
    span {
      display: table-cell;
      vertical-align: middle;
      color: ghostwhite;
      font-size: 65px;
      p {
        font-size: 25px;
      }
    }
  }
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
