#technologies {
  width: 100%;
  height: 50%;
  min-height: 400px;
  background-color: $blue;
  color: whitesmoke;
  img {
    display: inline-block;
    width: 150px;
    margin: 4px;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }
  img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
  }
}

.tech-triangle-container {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2 );
  span {
    display: inline-block;
  }
  .down-triangle {
    width: 0;
    height: 0;
    border-left: 130px solid $blue;
    border-top: 80px solid transparent;
    border-right: 130px solid $blue;
  }
  .side {
    width: -moz-calc(50% - 130px);
    width: -webkit-calc(50% - 130px);
    width: calc(50% - 130px);
    background-color: $blue;
    height: 100%;
  }
}
